body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(black, rgb(80, 0, 80));
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 2.5px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

#header-left {
    padding: .5em;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#space {
    padding-left: 1em;
}

.nav-text:hover {
    transition: .4s;
    background-color: whitesmoke;
    color: blueviolet;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    margin: 0px;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    padding: .5em;
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: .5em;
    margin: .5em;
    text-align: center;
}

aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* height: 100% ; */
}

#timer-box {
    height: 30%;
}

#score-box {
    height: 30%;
}

#button-box {
    height: 40%;
}

#home:hover {
    transition: .4s;
    background-color: whitesmoke;
    color: blueviolet;
    cursor: pointer;
}

#delete-all:hover {
    transition: .4s;
    background-color: whitesmoke;
    color: blueviolet;
    cursor: pointer;
}

#main-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 85vh;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

#question-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#current-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    text-align: center;
}

#question-form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#question-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.form-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .5em;
}

.text-inputs {
    width: 55%;
    font-size: 1.25em;
    border-radius: 20px;
    padding-left: 15px;
    margin: 0 .5em;
}

.radio {
    margin: 0px;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    margin-left: .25em;
}

button {
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
}

button:hover {
    transition: .4s;
    background-color: rgb(45, 12, 93);
    color: whitesmoke;
    cursor: pointer;
}

button:active {
    transition: .2s;
    box-shadow: inset 0px 0px 5px whitesmoke;
}

#another-question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#current-message {
    width: 100%;
    font-size: 1.25em;
    font-weight: bold;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#quiz-made {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#quiz-review-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid whitesmoke;
    width: 65%;
    height: 60%;
    margin: .5em;
    overflow-y: auto;
    padding: 1em;
}

#review-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.question-container {
    display: flex;
    flex-direction: column;
    text-align: start;
}

#edit-quiz {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-quiz-button:hover {
    transition: .4s;
    background-color: whitesmoke;
    color: blueviolet;
    cursor: pointer;
}

#dropdown-quiz-list {
    max-height: 50vh;
    overflow-y: auto;
}

.dropdown-item {
    color: blueviolet;
    padding: .25em .5em;
}

.dropdown-item:hover {
    transition: .4s;
    background-color: rgb(45, 12, 93);
    color: whitesmoke;
    cursor: pointer;
}

.dropdown h5 {
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown h5:hover {
    transition: .4s;
    background-color: rgb(45, 12, 93);
    color: whitesmoke;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content h5 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content h5:hover {
    transition: .4s;
    background-color: rgb(45, 12, 93);
    color: whitesmoke;
    cursor: pointer;
}

.show {
    display: block;
}

#delete-question-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#delete-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 50%;
    overflow-y: auto;
    border: 2px solid whitesmoke;
}

.delete-item {
    padding: .5em;
}

#save-quiz-section {
    width: 100%;
    height: 100%;
}

#name-quiz-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#quiz-selected-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#quiz-selected-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#start-quiz-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#enter-name-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#rendered-quiz-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#rendered-quiz-container {
    display: flex;
    flex-direction: column;
}

.rendered-choice:hover {
    transition: .4s;
    background-color: whitesmoke;
    color: blueviolet;
    cursor: pointer;
}

#end-quiz-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#end-quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#scores-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#scores-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid whitesmoke;
    width: 40%;
    height: 60%;
    margin: .5em;
    overflow-y: auto;
    padding: 1em 2em;
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1160px) {
    #question-form {
        width: 95%;
    }
}

@media screen and (max-width: 976px) {
    .text-inputs {
        width: 45%;
        font-size: 1em;
        padding: 2px 2px;
    }

    h4 {
        font-size: 1em;
    }

    label {
        font-size: 1em;
    }
}

@media screen and (max-width: 864px) {
    main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    aside {
        flex-direction: row;
        width: 95vw;
        justify-content: center;
        height: 100%;
    }

    #timer-box {
        display: flex;
        flex-direction: row;
        width: 32vh;
        height: 75px;
    }

    #score-box {
        display: flex;
        flex-direction: row;
        width: 32vh;
        height: 75px;
    }

    #button-box {
        display: flex;
        flex-direction: row;
        width: 32vh;
        height: 75px;
    }

    #main-section {
        width: 95vw;
        height: 75vh;
    }

    #content {
        height: 70vh;
    }
}

@media screen and (max-width: 740px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.35em;
    }
}

@media screen and (max-width: 615px) {
    h3 {
        padding: .25em;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 551px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #header-left {
        padding: .25em;
    }

    h1 {
        font-size: 1.25em;
    }

    nav {
        justify-content: center;
    }

    h2 {
        font-size: 1em;
    }

    #main-section {
        height: 100%;
    }

    #timer-box {
        flex-direction: column;
        height: 60px;
    }

    #score-box {
        flex-direction: column;
        height: 60px;
    }

    #button-box {
        flex-direction: column;
        height: 60px;
    }

    h3 {
        font-size: .8em;
    }

    .form-line {
        flex-direction: column;
        align-items: flex-start;
        padding: .2em;
    }

    .text-inputs {
        font-size: .7em;
        width: 85%;
    }

    .radio-choices {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .radio {
        font-size: .7em;
    }

    label {
        font-size: .7em;
    }

    h4 {
        font-size: .7em;
    }

    button {
        padding: .5em;
        margin: .5em;
        font-size: .7em;
    }

    .box {
        padding: .25em;
    }

    #question-form-section {
        align-items: flex-start;
    }

    #content {
        height: 55vh;
        margin: .25em;
    }

    #current-data {
        margin: .25em;
        height: 25px;
    }

    h7 {
        font-size: .6em;
    }

    #new-question-button {
        font-size: .5em;
    }
}